<!DOCTYPE HTML> 
 <html>
   <head>
     <title>Sistemas de Computación: Trabajo Final</title>
   </head>
   <body>
   	<h1>Sistemas de Computación<br>Trabajo Final</h1>
    <p>Esta página corresponde al Trabajo Final de Sistemas de computación. En la Facultad Universidad Nacional de Córdoba.</p>
      <form action="http://127.0.0.1/showState">
      <input type="submit" value="Mostrar Estado del Sistema">
  </form>
    <form action="http://127.0.0.1/switchLed1">
      <input type="submit" value="Cambiar Led 1">
  </form>
    <form action="http://127.0.0.1/switchLed2">
      <input type="submit" value="Cambiar Led 2">
  </form>
    <form action="http://127.0.0.1/about">
      <input type="submit" value="Acerca de...">
  </form>


 <!--    
body {
    background: white url("images/background.gif") no-repeat right bottom;
}

 <button>
    <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
		Hola esto es un <b>botón</b>
		<br>
		<br>Puedo poner saltos de línea en él!
		<hr>Y otras cosas</hr>
	</botton>  -->

  
  <!-- <p>This example demonstrates how to assign an "onclick" event to a p element.</p>

<p id="demo" onclick="myFunction()">Click me.</p>

<script>
function myFunction() {
    document.getElementById("demo").innerHTML = "YOU CLICKED ME!";
}
</script>
    </body>
 </html>
 -->