<!DOCTYPE HTML> 
 <html>

  <head>
    <META HTTP-EQUIV="refresh" CONTENT="2">
    <title>Sistemas de Computación: Trabajo Final</title>
  </head>
  <BODY bgcolor="black" BGPROPERTIES="fixed">
    <font color="White">   	
    <h1>Sistemas de Computación<br>Trabajo Final</h1>
    <p>El sistema de control se esta ejecutando actualmente.</p>
    <form action="http://127.0.0.1/stopAplication">
      <input type="submit" value="Detener Aplicación">
    </form>
    <form action="http://127.0.0.1/switchLed1">
      <input type="submit" value="Cambiar Led 1">
    </form>
    <form action="http://127.0.0.1/switchLed2">
      <input type="submit" value="Cambiar Led 2">
    </form>
    <p><br>Estado del Sistema:<br></p>
    <p>-Iluminación de la habitación 1:  <b>{{led1State}}</b></p>
    <p>-Iluminación de la habitaicón 2:  <b>{{led2State}}</b></p>
    <p>-Iluminación del patio trasero :  <b>{{backyardState}}</b></p>
    <p><br>Eventos del Sistema:<br></p>
    {% for event in events %}
      {{ event }}<br>
    {% endfor %}
  </body>
</html>


 <!--    
body {
    background: white url("images/background.gif") no-repeat right bottom;
}

 <button>
    <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
		Hola esto es un <b>botón</b>
		<br>
		<br>Puedo poner saltos de línea en él!
		<hr>Y otras cosas</hr>
	</botton>  -->

  
  <!-- <p>This example demonstrates how to assign an "onclick" event to a p element.</p>

<p id="demo" onclick="myFunction()">Click me.</p>

<script>
function myFunction() {
    document.getElementById("demo").innerHTML = "YOU CLICKED ME!";
}
</script>
    </body>
 </html>
 -->