<!DOCTYPE HTML> 
 <html>
   <head>
     <title>Sistemas de Computación: Trabajo Final</title>
   </head>
   <body>
    <h1>Sistemas de Computación<br>Trabajo Final</h1>
    <p><br>El Estado del Sistema es el siguiente:<br></p>
    <p>-Estado del Led 1:  <b>{{stateList0}}.</b></p>
    <p>-Estado del Led 2:  <b>{{stateList1}}.</b></p>
    <p>-El resto:  <b>{{stateList2}}.</b></p>

  </form>
    <form action="http://127.0.0.1/showState">
      <input type="submit" value="Actualizar Estado">
  </form>
    <form action="http://127.0.0.1/index">
      <input type="submit" value="Volver al Inicio">
  </form>
</html>
    